.ant-rate {
  // font-size: 0 !important;
}

.ant-rate-star-first,
.ant-rate-star-second {
  // color: #b4aeae;
}

.ant-rate-star:not(:last-child) {
  margin-right: 2px;
}

.ant-carousel .slick-dots-bottom {
  margin-bottom: 30px;
}

.ant-notification-notice {
  border-radius: 6px;
}

.ant-popover-inner {
  border-radius: 6px;
}

.ant-btn {
  border-radius: 6px;
}

.ant-select {
  width: 100%;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 4px;
}

.ant-slider-with-marks {
  margin-bottom: 0px;
}

.ant-slider-with-marks {
  margin: 0 0 0;
}

.ant-modal-content {
  border-radius: 6px;
}

// .ant-btn-primary {
//   background-color:  #194391;
//   border-color:  #194391;

//   &:hover {
//     background-color: #ff4d53;
//     border-color: #ff4d53;
//   }
// }
