*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8be8fd;
  border-radius: 100px;
}
.title-section {
  text-align: center;
  font-size: 22px;
}

.error-field {
  color: #ff4d53;
  margin-left: 4px;
  font-size: 12px;
}

.submit-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center;
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}

.flex2 {
  flex: 2;
}

.widget-content {
  .widget-content-outer {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .widget-content-left {
    .widget-heading {
      opacity: 0.8;
      font-weight: bold;
    }

    .widget-subheading {
      opacity: 0.5;
    }
  }

  .widget-content-right {
    margin-left: auto;
  }
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-width: 0;
  transition: all 0.2s;
}

.border-circle {
  width: 50px;
  height: 50px;
  border: 3px solid #5defb793;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
}

.card-device {
  margin: 10px auto;
  border-radius: 4px;
  color: rgba(13, 27, 62, 0.7);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .card-device-title {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 20px 0;

    i {
      font-size: 24px;
    }
  }
  .card-device-body {
    font-size: 18px;
    text-align: center;
    padding: 40px 0;
  }

  .card-device-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    height: 1.5px;
    background-color: rgba(26, 54, 126, 0.1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
  }
}

.import-export {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > * {
    margin: 0 4px;
  }
}

.noti-list {
  margin: 0 2px;
  max-height: 342px;
  overflow-y: scroll;
}

ul.box-list-noti {
  width: 100%;
  right: -18px;
  left: initial;
  &:before,
  &:after {
    left: inherit !important;
    right: 35px !important;
  }
  li {
    display: block;
    padding: 12px 20px;
    border-bottom: 1px solid $light-color;
    text-align: left;
    h6 {
      small {
        padding-top: 5px;
        color: $dark-gray;
        font-size: 12px;
      }
    }
    span {
      svg {
        margin-top: 0 !important;
        margin-right: 10px;
        vertical-align: text-top;
      }
      .shopping-color {
        path,
        line {
          color: $primary-color;
        }
      }
      .download-color {
        path,
        line {
          color: $success-color;
        }
      }
      .alert-color {
        path,
        line {
          color: $danger-color;
        }
      }
    }
    p {
      margin-left: 14px;
    }
    + li {
      &:hover {
        background-color: $light-color;
        cursor: pointer;
      }
    }
    & div.load-more-hover {
      cursor: pointer;
    }
  }
}

.fa-2x {
  font-size: 1.5em;
}

.app-one {
  background-color: #ffffff;
  height: 600px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.side {
  padding: 0;
  margin: 0;
  height: 100%;
}
.side-one {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
  top: 0;
}

.side-two {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  top: -100%;
  left: -100%;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.heading {
  padding: 10px 16px 10px 15px;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #ffffffff;
  z-index: 1000;
}

.heading-avatar {
  padding: 0;
  cursor: pointer;
}

.heading-avatar-icon img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.heading-name {
  margin: auto 0;
  padding: 0 !important;
  cursor: pointer;
}

.heading-name-meta {
  font-weight: 700;
  font-size: 100%;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: block;
}
.heading-online {
  display: none;
  padding: 0 5px;
  font-size: 12px;
  color: #93918f;
}
.heading-compose {
  padding: 0;
}

.heading-compose i {
  text-align: center;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.heading-dot {
  padding: 0;
  margin-left: 10px;
}

.heading-dot i {
  text-align: right;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.searchBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}

.searchBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  border-bottom: 1.5px solid #f5f5f5;
}

.searchBox-inner input {
  text-align: left;
  margin: 0 auto;
  display: block;
  width: 90%;
  border-radius: 24px;
  border: none;
  padding: 12px 20px;
  background-color: #f7f7f7;

  &:focus {
    outline: none;

    box-shadow: none;
  }
}

.list-convention {
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 180px);
}

.sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 120px);
}

.sideBar-body {
  position: relative;
  padding: 10px !important;
  border-bottom: 1.5px solid #f5f5f5;
  height: 72px;
  margin: 0 !important;
  cursor: pointer;
}

.sideBar-body:hover {
  background-color: #f2f2f2;
}

.sideBar-avatar {
  text-align: center;
  padding: 0 !important;
}

.avatar-icon img {
  border-radius: 50%;
  height: 49px;
  width: 49px;
}

.sideBar-main {
  padding: 0 !important;
}

.sideBar-main .row {
  padding: 0 !important;
  margin: 0 !important;
}

.sideBar-name {
  padding: 10px !important;
}

.name-meta {
  font-size: 100%;
  padding: 1% !important;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.sideBar-time {
  padding: 10px !important;
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, 0.4);
  vertical-align: baseline;
}

/*New Message*/
.noConversationText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: rgb(224, 220, 220);
  cursor: default;
}

.message {
  overflow-y: scroll !important;
  height: 100%;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8be8fd;
    border-radius: 100px;
  }
}

.newMessage {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  position: relative;
  left: -100%;
}
.newMessage-heading {
  padding: 10px 16px 10px 15px !important;
  margin: 0 !important;
  height: 100px;
  width: 100%;
  background-color: #00bfa5;
  z-index: 1001;
}

.newMessage-main {
  padding: 10px 16px 0 15px !important;
  margin: 0 !important;
  height: 60px;
  margin-top: 30px !important;
  width: 100%;
  z-index: 1001;
  color: #fff;
}

.newMessage-title {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 5px !important;
}
.newMessage-back {
  text-align: center;
  padding: 12px 5px !important;
  display: block;
  cursor: pointer;
}
.newMessage-back i {
  margin: auto !important;
}

.composeBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}

.composeBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

.composeBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.compose-sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 160px);
}

/*Conversation*/

.conversation {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  /*width: 100%;*/
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  /*overflow-y: auto;*/
}

.message {
  padding: 0 !important;
  margin: 0 !important;
  background-size: cover;
  overflow-y: auto;
  border: 1.5px solid #f5f5f5;
  height: calc(100% - 120px);
}
.message-previous {
  margin: 0 !important;
  padding: 0 !important;
  height: auto;
  width: 100%;
}
.previous {
  font-size: 15px;
  padding: 10px !important;
}

.previous a {
  text-decoration: none;
  font-weight: 700;
}

.message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
  height: auto;
}

.message-main-receiver {
  overflow: hidden;
  /*padding: 10px 20px;*/
  max-width: 60%;
}

.message-main-sender {
  overflow: hidden;
  padding: 3px 20px !important;
  margin-left: 40% !important;
  max-width: 60%;
}

.message-text {
  margin: 0 !important;
  padding: 5px !important;
  word-wrap: break-word;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0 !important;
}

.message-time {
  margin: 0 !important;
  font-size: 12px;
  color: #9a9a9a;
}

.receiver {
  overflow: hidden;
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 10px 0;
  background: #f7f7f7;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  display: inline-block;
}

.sender {
  float: right;
  width: auto !important;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  word-wrap: break-word;
}

/*Reply*/

.reply {
  height: 60px;
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.reply-emojis {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.reply-send {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reply-main {
  overflow-x: hidden;
  flex-grow: 1;
  padding: 2px 0;

  input {
    font-weight: normal;
    font-size: 14px;
    color: #090c13;
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    padding: 10px 16px;
    background-color: #f7f7f7;
    border-radius: 20px;
    word-break: break-word !important;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}

// .reply-main {
//   padding: 2px 5px !important;
// }

// .reply-main textarea {
//   width: 100%;
//   resize: none;
//   overflow: hidden;
//   padding: 5px !important;
//   outline: none;
//   border: none;
//   text-indent: 5px;
//   box-shadow: none;
//   height: 100%;
//   font-size: 16px;
// }

.reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}

@media screen and (max-width: 700px) {
  .app {
    top: 0;
    height: 100%;
  }
  .heading {
    height: 70px;
  }
  .fa-2x {
    font-size: 2.3em !important;
  }
  .heading-avatar {
    padding: 0 !important;
  }
  .heading-avatar-icon img {
    height: 50px;
    width: 50px;
  }
  .heading-compose {
    padding: 5px !important;
  }
  .heading-compose i {
    color: #fff;
    cursor: pointer;
  }
  .heading-dot {
    padding: 5px !important;
    margin-left: 10px !important;
  }
  .heading-dot i {
    color: #fff;
    cursor: pointer;
  }
  .sideBar {
    height: calc(100% - 130px);
  }
  .sideBar-body {
    height: 80px;
  }
  .sideBar-avatar {
    text-align: left;
    padding: 0 8px !important;
  }
  .avatar-icon img {
    height: 55px;
    width: 55px;
  }
  .sideBar-main {
    padding: 0 !important;
  }
  .sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  .sideBar-name {
    padding: 10px 5px !important;
  }
  .name-meta {
    font-size: 16px;
    padding: 5% !important;
  }
  .sideBar-time {
    padding: 10px !important;
  }
  .time-meta {
    text-align: right;
    font-size: 14px;
    padding: 4% !important;
    color: rgba(0, 0, 0, 0.4);
    vertical-align: baseline;
  }
  /*Conversation*/
  .conversation {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    /*overflow-y: auto;*/
  }
  .message {
    height: calc(100% - 140px);
  }
  .reply {
    height: 70px;
  }
  .reply-emojis {
    padding: 5px 0 !important;
  }
  .reply-emojis i {
    padding: 5px 2px !important;
    font-size: 1.8em !important;
  }
  .reply-main {
    padding: 2px 8px !important;
  }
  .reply-main textarea {
    padding: 8px !important;
    font-size: 18px;
  }
  .reply-recording {
    padding: 5px 0 !important;
  }
  .reply-recording i {
    padding: 5px 0 !important;
    font-size: 1.8em !important;
  }
  .reply-send {
    padding: 5px 0 !important;
  }
  .reply-send i {
    padding: 5px 2px 5px 0 !important;
    font-size: 1.8em !important;
  }
}

.fa-send:hover {
  color: rgb(98, 194, 250);
}

.wrapper_loading {
  background-color: #ffffff;
  width: 80px;
  border-radius: 0.5rem;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 30px;
}
.lds-ellipsis div {
  position: absolute;
  top: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(207, 207, 207);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.message-text img {
  width: 17px;
  height: 17px;
}

.img_icon {
  width: 20px;
  height: 20px;
}

.list_icon {
  display: flex;
  width: 15rem;
}

.icon {
  padding: 0.4rem 0;
  cursor: pointer;
  text-align: center;
}

.icon:hover {
  background-color: rgb(235, 235, 235);
}

.show_icon {
  background-color: #ffffff;
  width: 15rem;
  border-radius: 6rem;
  position: fixed;
  top: 83%;
}

.reply-emojis i {
  cursor: pointer;
}

.title-hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-notfound {
  .whistle {
    width: 20%;
    fill: #f95959;
    margin: 100px 40%;
    text-align: left;
    transform: translate(-50%, -50%);
    transform: rotate(0);
    transform-origin: 80% 30%;
    animation: wiggle 0.2s infinite;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(3deg);
    }

    50% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(3deg);
    }
  }

  h1 {
    margin-top: -100px;
    margin-bottom: 20px;
    color: #facf5a;
    text-align: center;
    font-size: 90px;
    font-weight: 800;
  }

  h2 {
    color: #455d7a;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
  }
}
