/*   color variables */
$clr-primary: #81d4fa;
$clr-primary-light: #e1f5fe;
$clr-primary-dark: #4fc3f7;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-pending: #fff0c2;
$clr-pending-font: #a68b00;
$clr-unpaid: #ffcdd2;
$clr-unpaid-font: #c62828;
$clr-paid: #c8e6c9;
$clr-paid-font: #388e3c;
$clr-link: #2962ff;

/*   border radius */
$radius: 0.2rem;

table.table-custom {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 5px 10px $clr-gray300;
  background-color: white;
  text-align: left;
  overflow: hidden;

  thead {
    box-shadow: 0 5px 10px $clr-gray300;
  }

  tr,
  td,
  th {
    text-align: center;
    border: none;
  }

  th {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 900;
  }

  a {
    text-decoration: none;
    color: $clr-link;
  }

  tbody tr {
    &:nth-child(even) {
      background-color: $clr-gray150;
    }
    &:hover {
      background-color: $clr-gray150;
    }
  }

  .status {
    border-radius: $radius;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;

    &-pending {
      background-color: $clr-pending;
      color: $clr-pending-font;
    }

    &-paid {
      background-color: $clr-paid;
      color: $clr-paid-font;
    }

    &-unpaid {
      background-color: $clr-unpaid;
      color: $clr-unpaid-font;
    }
  }

  .amount {
    text-align: right;
  }
}

.no-item {
  text-align: center;
}

@media (max-width: 768px) {
  table.table-custom {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
